repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.4
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.396
    hooks:
    - id: pyright